@model List<WishList.Models.Item>

<h1>Wishlist</h1>

<u1>
    @foreach ( var item in Model)
    {
        <li>@item.Description <a asp-action="delete" asp-route-id="@item.Id">delete</a></li>
    }
</u1>